* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 100px;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    z-index:10;
  }
  
  header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  header nav ul li a:hover {
    color: #fff;
    background-color: #11cc2a;
  }
  
  .menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
   body{
      background-color:whitesmoke;
      height:200%;
      width:100%;
      background-size:cover;
      }
    
    .form{
      text-align: center;
    }
  
    
   
   
  
   h3{
     color: white;
     position:absolute;
     left:20px;
     width:100%;
   }
  
  
  

  
  
  
  
  
  

  
  h2{
    text-align: center;
    position: center;
    font-size: 25px;
    color: white;
  }
  #myBtn {
  
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#11cc2a; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  footer {
    position: relative;
    width: 100%;
    padding: 50px 50px;
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
  }
  
  footer .container .sec {
    margin-left: 20px;
  }
  
  footer .container .sec.aboutus {
    width: 40%;
  }
  
  footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  footer .container h2:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #11cc2a;
  }
  
  footer p {
    color: #999;
  }
  
  .sci {
    margin-top: 20px;
    display: flex;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(173, 132, 132, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .sci li a:hover {
    background: #11cc2a;
  }
  
  .sci li a .fa {
    color: #fff;
    font-size: 20px;
  }
  
  .quickLinks {
    position: relative;
    width: 25%;
  }
  
  .quickLinks ul li {
    list-style: none;
  }
  
  .quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .quickLinks ul li a:hover {
    color: #fff;
    padding-left: 8px;
  }
  
  .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }
  
  .contact .info {
    position: relative;
  }
  
  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }
  
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .contact .info li span {
    color: #999;
  }
  
  .contact .info li a {
    color: #999;
    text-decoration: none;
  }
  
  .contact .info li a:hover {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    header {
      padding: 0 20px;
    }
    .menu-toggle {
      display: block;
    }
    header nav {
      position: absolute;
      width: 100%;
      height: calc(100vh - 50px);
      background-color: black;
      top: 50px;
      left: -100%;
      transition: 0.5s;
    }
    header nav.active {
      left: 0;
    }
    header nav ul {
      display: block;
      text-align: center;
    }
    header nav ul li a {
      border-bottom: 1px solid rgba(173, 132, 132, 0.2);
    }
   
    footer {
      padding: 40px;
      z-index: -1;
    }
    footer .container {
      flex-direction: column;
    }
    footer .container .sec {
      margin: 20px 20px;
      margin-right: 0;
      margin-left: 10px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact {
      width: 100%;
    }
  }
  
  